.card {
  color: white;
  height: 450px;
  width: 400px;
  padding: 1%;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  border-radius: 25px 0 25px 0;
  transition: all 0.4s ease-in-out;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
}

.card:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px;
}

.card-img {
  width: 100%;
  height: 65%;
}

.card-img img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content-1 {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.card-content-1 span {
  font-size: 1.1rem;
}

.card-content-2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card-content-2 span {
  font-size: 0.8rem;
  color: grey;
}

.card-btn {
  /* Color Code : 138,43,226*/
  margin-top: 1rem;
  display: inline-block;
  padding: 5px 80px;
  border: 3px solid blueviolet;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in-out;
}

.card-btn:hover {
  transform: scale(1.1);
  border-color: rgb(238, 103, 238);
}
