.card-items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  padding: 4rem;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 91.2vh;
}
