.further-container {
  color: white;
}
.further-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1rem 7rem;
  height: 65vh;
  width: 100%;
}

.further-details div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.further-details h4 {
  color: #a4a2a2;
}

.further-details div {
  padding-bottom: 20px;
  border-bottom: 1px solid blueviolet;
}

.further-details div:hover {
  border-color: rgb(238, 103, 238);
}
