.main-nav {
  background: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  z-index: 2;
}

.main-nav .logo {
  padding: 1rem 1.5rem;
  font-family: Quicksand;
  color: blueviolet;
}

.main-nav .logo h2 {
  cursor: pointer;
}

.main-nav ul {
  display: flex;
  padding-right: 2%;
}
.main-nav li {
  padding: 1rem 1.5rem;
  list-style: none;
}
.main-nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
.main-nav a:hover {
  border-color: blueviolet;
}

.main-nav .current {
  font-weight: bold;
  color: blueviolet;
}
