.container {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.96);
  /* background: url("../../../public/img/bg-sand.jpg") no-repeat center
    center/cover; */
}
